@import "~office-ui-fabric-react/dist/sass/References.scss";

.stickyNote {
  // border: 1px solid #333;
  background-color: white;
  border-radius: 6px;
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 10px;
  }

  .content {
    font-size: 1rem;
  }
}
